# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# latexmk
*.run.xml
*_latexmk

# Temporary files
*.tmp
*.bak

# Editor files
*~
*.synctex.gz
*workspace
*sublime*
*.txss2

build/